body {
  width: 100%;
  background-color: #eee;
}

.app {
  width: 100%;
}

.app .app__top {
  width: 100%;
  height: 700px;
  color: #0b0b0b;
  font-size: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.slick__box {
  width: 100%;
  height: 700px;
}
